<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <title>Navbar</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">BookFace</div>
        <ul class="nav-links">
            <li><a href="../home/index.html">Home</a></li>   
            <li><a href="../profile/profile.html">Profile</a></li>
            <li><a href="../friends/friends.html">Friends</a></li>
            <li><a href="../messages/messages.html">Messages</a></li>
            <li class="login"><a href="../login/login.html" id="loginLink">Logout</a></li> <!-- Default to 'Login' -->
        </ul>
    </nav>
</body>
</html>
